

h1{
	margin-bottom: 20px;
}

.input-container{
	margin-bottom: 20px;
}

input{
	padding: 5px;
	margin-right: 5px;
}

button{
	padding: 5px 15px;
	cursor: pionter;
}

table{
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

th,td{
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

thead{
	background-color: lightgray;
}

tfoot{
	font-weight: bold;
}